@import '~antd/dist/antd.css';

.App {
  text-align: center;
  
  height: 100%;
  width: 100%;
}
.App .AnimarionForm{
  border-left-style: solid;
  border-left-color: #001529;
}

.App .HeaderBar{
  border-bottom-style: solid;
  border-bottom-color: #001529;
}